body{
    background-size: cover;
}
.heading{
    width: 100%;
    margin: 0px;
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)
}
.copy_right_footer{
    position: fixed;
    bottom: 20;
    box-shadow: 10px 10px 5px rgb(136, 128, 128);
    font-weight: bold;
    font-size: large;
    color: black;
    width: 100%;
    line-height: 2.5;
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)
}

.btn-grad {background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 
 canvas{
  box-shadow: 10px 10px 5px lightblue;;
   border-radius: 2px;
   border: 5px solid palevioletred;
   margin-top: 110px;
 }
 
